[AMS]

ams_host: msg-devel.argo.grnet.gr 
ams_project: egi_cloud_info
ams_topic: SITE_HG-09-Okeanos-Cloud_ENDPOINT_11369G0
msg_file_path:
info_provider_path: /var/lib/bdii/gip/provider/glite-info-provider-site-glue2

[AUTH]

token: c4ca81184811bd5bb8b0d8da3a2c2511c920d600
cert_path:
key_path:

